body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #c5baff;
  --main-color-dark: #8a73ff;
  --alt-color: #cad9f7;
  --alt-color-dark: #c4d9ff;
  --white-color: #ffffff;
  --gray-color: #a3a3a3;
  --black-color: #000000;
  --black-color-50: rgba(0, 0, 0, 0.666);
}

body.light-mode {
  --main-color: #b9adf0;
  --main-color-dark: #8a73ff;
  --alt-color: #cad9f7;
  --alt-color-dark: #c4d9ff;
  --black-color: #000000;
  --black-color-50: rgba(0, 0, 0, 0.666);
  --white-color: white;
  --primary-color: #f8f9fa;
  --secondary-color: #ffffff;
  --main-text: #212529;
  --alt-text: #6c757d;
}

body.dark-mode {
  --main-color: #afa3e4;
  --main-color-dark: #6754c7;
  --alt-color: #cad9f7;
  --alt-color-dark: #c4d9ff;
  --black-color: #000000;
  --black-color-50: rgba(0, 0, 0, 0.666);
  --white-color: white;
  --primary-color: #1b1b1d;
  --secondary-color: #202529;
  --main-text: #ececec;
  --alt-text: #c6c6c6;
}


/* reset */
main{
  min-height: 64.5vh;
}


input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="checkbox"]:not(:disabled),
input[type="radio"]:not(:disabled) {
  border: 2px solid var(--main-color-dark) !important;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--main-color-dark) !important;
}

input[type="radio"] {
  border-radius: 50% !important;
}

.modal .modal-footer {
  justify-content: start;
}

[dir="rtl"] input[type="radio"] + label,
[dir="rtl"] input[type="checkbox"] + label {
  margin-right: 23px;
}

.light-mode .text-warning {
  color: #c59400 !important;
}

.dark-mode .text-success {
  color: #22ba74 !important;
}

.dark-mode .text-danger {
  color: #ff6791 !important;
}

.accordion,
.accordion-item {
  border: 1px solid var(--main-color-dark) !important;
}

.accordion,
.accordion-header,
.accordion-item {
  border-radius: 0 !important;
}

.accordion .accordion-header > button {
  background-color: var(--main-color) !important;
  color: black;
  box-shadow: none !important;
  border-radius: 0 !important;
  justify-content: space-between;
}
.accordion-header > button::after {
  margin: 0 !important;
}
.accordion .accordion-body {
  background-color: var(--secondary-color);
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid var(--main-color-dark) !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: var(--primary-color) !important;
  color: var(--main-text) !important;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--alt-text) !important;
}

form.auth-form button {
  width: 60%;
  height: 40px;
  font-weight: bold;
  margin-top: 30px;
  transition: 0.2s ease-in;
  cursor: pointer;
  color: white !important;
}

.rounded-full {
  border-radius: 50% !important;
}

/* pagination */
.dark-mode .pagination .page-item .page-link {
  color: black !important;
}
.pagination .page-item .page-link {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  background-color: #eee;
}

.pagination .page-item.active .page-link {
  background-color: var(--main-btn-bg) !important;
  color: white !important;
}

/* navbar */
.logo {
  color: var(--white-color) !important;
}
.logo img {
  filter: invert(1);
}

.navbar .typing-text {
  overflow: hidden;
  font-size: 14px;
  animation: typing 10s steps(1000, end) 1s normal both infinite;
}

.ltr .typing-text {
  border-right: 2px solid var(--text-color);
}

[dir="rtl"] .typing-text {
  border-left: 2px solid var(--text-color);
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--main-color-dark);
}

.navbar .navbar-search {
  width: 200px;
  padding: 1px;
  background-color: var(--main-color);
}

.navbar .navbar-search input::placeholder {
  color: var(--black-color-50) !important;
}

.navbar .profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.dropdown-menu.show{
  background-color: var(--main-color-dark);
  border: 1px solid var(--main-color) ;
  color: white;
}

[dir="rtl"] .dropdown-menu .dropdown-item{
  text-align: start;
}

.dropdown-menu .dropdown-item:focus,.dropdown-menu .dropdown-item:hover{
  background-color: var(--main-color);
  color: black !important;
}

/* frame work */
.btn {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.main-border {
  border: 1px solid var(--main-color);
}

.rounded {
  border-radius: 3px !important;
}

.flex-1 {
  flex: 1;
}

.no-arrow::after {
  display: none;
}

.main-btn {
  background-color: var(--main-color) !important;
  color: var(--black-color-50) !important;
  border: 1px solid var(--main-color) !important;
}

.main-btn:hover,
.main-btn:active {
  background-color: #50419c !important;
  color: var(--white-color) !important;
}

.main-btn-dark {
  background-color: var(--main-color-dark) !important;
  color: white !important;
  border: 1px solid var(--main-color-dark) !important;
}
.main-btn-dark:hover,
.main-btn-dark:active {
  background-color: #50419c !important;
  color: white !important;
}

.alt-btn {
  background-color: var(--alt-color) !important;
  color: var(--black-color-50) !important;
  border: 1px solid var(--alt-color) !important;
}
.alt-btn:hover,
.alt-btn:active {
  background-color: var(--alt-color-dark) !important;
}

.btn-danger {
  background-color: #da3646 !important;
}
.btn-danger:hover {
  background-color: #bb2d3b !important;
}
.dark-mode .btn-danger {
  background-color: #bb2d3b !important;
}
.dark-mode .btn-danger:hover {
  background-color: #9b2631 !important;
}
/* outline buttons*/
.outline-main-btn {
  color: #7e75ae !important;
  border: 1px solid var(--main-color) !important;
  background-color: transparent !important;
}

.dark-mode .outline-main-btn {
  color: var(--main-color) !important;
}

.outline-main-btn:hover,
.outline-main-btn:active {
  color: var(--black-color-50) !important;
  background-color: var(--main-color) !important;
}
.outline-main-btn-dark {
  color: var(--main-color-dark) !important;
  border: 1px solid var(--main-color-dark) !important;
  background-color: transparent !important;
}
.outline-main-btn-dark:hover,
.outline-main-btn-dark:active {
  color: var(--white-color) !important;
  background-color: var(--main-color-dark) !important;
}
.outline-alt-btn-dark {
  color: var(--alt-color-dark) !important;
  border: 1px solid var(--alt-color-dark) !important;
  background-color: transparent !important;
}
.outline-alt-btn:hover,
.outline-alt-btn:active {
  color: var(--black-color-50) !important;
  background-color: var(--alt-color-dark) !important;
}

.main-border {
  border: 1px solid var(--main-color-dark);
}
.main-border-start {
  border-left: 1px solid var(--main-color-dark);
}
.main-border-end {
  border-right: 1px solid var(--main-color-dark);
}
.main-border-top {
  border-top: 1px solid var(--main-color-dark);
}
.main-border-bottom {
  border-bottom: 1px solid var(--main-color-dark);
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-bg-dark {
  background-color: var(--main-color-dark) !important;
}

.primary-bg {
  background-color: var(--primary-color) !important;
}

.gray-bg {
  background-color: var(--gray-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color) !important;
}

.main-text {
  color: var(--main-text) !important;
}

.alt-text {
  color: var(--alt-text) !important;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: var(--primary-color);
  color: var(--main-text);
}

body a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.w-fit {
  width: fit-content !important;
  min-width: fit-content !important;
}

/* home */
section.home .hero .btn {
  border-radius: 6px !important;
  position: relative;
}
section.home .hero .btn::after {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 10px;
  top: -5px;
  right: -9%;
  transform: skewY(6deg);
}

section.home .hero .btn::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 20px;
  height: 100%;
  top: -5px;
  right: -14%;
  transform: skewX(13deg);
}

/* (Auth) register login page */
.register-login .main {
  box-shadow: 0 0 0px 1px var(--main-color-dark);
  width: 100%;
  max-width: 500px;
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.register-login #chk {
  display: none;
}
.register-login .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.register-login label {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.register-login .login {
  background: var(--primary-color);
  height: 500px;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.register-login .login label {
  transform: scale(0.6);
}

.register-login #chk:checked ~ .login {
  transform: translateY(-550px);
}
.register-login #chk:checked ~ .login label {
  transform: scale(1);
}
.register-login #chk:checked ~ .signup label {
  transform: scale(0.6);
}

/* forget password */
.auth-page main {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 0px 10px #a9a9a95e;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}

/* dashboard layout */

.dashboard-layout span.arrow {
  display: none;
}

.dashboard-layout .sidebar {
  height: 87.9vh;
  background-color: var(--main-color-dark) !important;
}
.nav-link {
  color: white !important;
}

.nav-link:hover,
.nav-link.active {
  background-color: var(--main-color);
  color: var(--black-color-50) !important;
}

[dir="rtl"] .sidebar .nav-link.active {
  border-left: 5px solid var(--black-color-50) !important;
}
.ltr .sidebar .nav-link.active {
  border-right: 5px solid var(--black-color-50) !important;
}

/* explore books page */
.explore-books input[type="search"]::placeholder,
.explore-books input[type="search"] {
  color: var(--main-text);
}

.explore-books .filters {
  transition: 0.5s;
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.explore-books .filters.active {
  border-bottom: 5px solid var(--main-bg);
  height: 250px;
  background: var(--primary-color);
  border: 1px solid var(--main-color);
}

.explore-books .accordion-button:focus {
  box-shadow: none !important;
}

/* dialog */
.dark-mode .custom-dialog {
  color: var(--main-text) !important;
}

.custom-dialog .modal-dialog .modal-content {
  background-color: var(--primary-color) !important;
}

.custom-dialog .modal-header {
  justify-content: space-between;
}

.custom-dialog .modal-header button {
  margin: 0 !important;
}

/* main-chat-page */
.main-chat-page img {
  width: 250px;
}

/* chat link component */
.chat-box::-webkit-scrollbar,
.chat-sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track,
.chat-sidebar-content::-webkit-scrollbar-track {
  background: var(--alt-color);
}

.chat-box::-webkit-scrollbar-thumb,
.chat-sidebar-content::-webkit-scrollbar-thumb {
  background-color: var(--main-color-dark);
}

.chat-link:first-of-type {
  border-top: 1px solid var(--main-color);
}

.chat-link {
  border-bottom: 1px solid var(--main-color);
  transition: 0.2s;
}
.chat-link.active,
.chat-link:hover {
  background-color: #4a078d86;
}

.chat-link.active{
  pointer-events: none;
}

.chat-avatar img,
.chat-link img,
.chat-link .avatar {
  object-fit: cover;
  border-radius: 50%;
}
.chat-link img,
.chat-link .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid var(--alt-color);
  background-color: var(--main-color-dark);
}

.chat-avatar img {
  width: 30px;
  height: 30px;
}

.chat .chat-box {
  height: 64vh;
  overflow-y: auto;
}

.chat .chat-box .message {
  max-width: 60%;
  min-width: 80px;
  padding: 4px 8px;
}

[dir="rtl"] .chat .chat-box .message.receiver,
.chat .chat-box .message.sender {
  border-radius: 6px 0 16px 6px;
}

.chat .chat-box .message.receiver,
[dir="rtl"] .chat .chat-box .message.sender {
  border-radius: 0 6px 6px 16px;
}

[dir="rtl"] .chat .submit {
  transform: rotateY(180deg);
}

/* media query */
/* Extra Large Devices (Desktops, 1200px and above) */
@media (max-width: 1200px) {
  .chat-link img,
  .chat-link .avatar {
    margin-inline: -9px;
  }

  .chat .chat-box .message {
    max-width: 70%;
  }
}

/* Large Devices (Desktops, 992px and above) */
@media (max-width: 992px) {
  .dashboard-layout span.arrow {
    position: fixed;
    z-index: 10;
    display: block;
    padding-block: 5px;
    cursor: pointer;
    font-size: 20px;
    left: 0;
    transition: 0.3s;
    padding-inline: 10px;
  }
  .dashboard-layout span.arrow.show {
    left: 280px;
    z-index: 11;
  }

  .overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .dashboard-layout .sidebar {
    transition: 0.3s;
    width: 280px;
    left: -280px;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 20;
  }

  .dashboard-layout .sidebar.show {
    left: 0px;
  }
  [dir="rtl"] .dashboard-layout span.arrow {
    right: 0px;
    left: unset;
  }
  [dir="rtl"] .dashboard-layout span.arrow.show {
    right: 280px;
  }
  [dir="rtl"] .dashboard-layout .sidebar {
    right: -280px;
    left: unset;
  }
  [dir="rtl"] .dashboard-layout .sidebar.show {
    right: 0;
  }
  .dashboard-layout span.arrow svg {
    position: relative;
    animation: arrow-animation-left-right 1.5s linear infinite both;
  }
  @keyframes arrow-animation-left-right {
    0% {
      left: 5px;
    }
    30% {
      left: 0;
    }
    80% {
      left: 0;
    }
    100% {
      left: 5px;
    }
  }
}

/* Medium Devices (Tablets, 768px and above) */
@media (max-width: 768px) {
  .navbar .navbar-search {
    display: none;
  }
  .chat .chat-box .message {
    max-width: 80%;
  }
}

/* Small Devices (Phones, 576px and above) */
@media (max-width: 576px) {
  .register-login .main label {
    font-size: 1.7em;
  }
  .chat .chat-box .message {
    max-width: 90%;
  }
}

/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 480px) {
}
