body {
  font-family: "Cairo", sans-serif;
  --main-btn-bg: #0894e2;
  --alt-btn-bg: #0dcaf0;
}

body.light-mode {
  --main-bg: #eff1f3;
  --alt-bg: #ffffff;
  --main-text: #212529;
  --alt-text: #6c757d;
}

body.dark-mode {
  --main-bg: #27374d;
  --alt-bg: #526d82;
  --main-text: #dde6ed;
  --alt-text: #cce1ef;
}

/* Dark Mode */
/* body.dark-mode {
  --main-bg: #35155d;
  --alt-bg: #512b81;
  --main-text: #dde6ed;
  --alt-text: #cce1ef;
} */

/* frame work */
.btn {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.flex-1{
  flex: 1;
}

.main-btn {
  background-color: var(--main-btn-bg);
}

.main-btn.border {
  border: 1px solid var(--main-text) !important;
}

.main-btn:hover {
  background-color: #0770a8 !important;
  color: white !important;
}

.alt-btn {
  background-color: var(--alt-btn-bg);
  color: white;
}
.alt-btn:hover {
  background-color: var(--main-btn-bg);
}

.btn-danger {
  background-color: #da3646;
}
.btn-danger:hover {
  background-color: #bb2d3b;
}
.dark-mode .btn-danger {
  background-color: #bb2d3b;
}
.dark-mode .btn-danger:hover {
  background-color: #9b2631;
}

.w-fit {
  width: fit-content;
}
.main-bg {
  background-color: var(--main-bg) !important;
}
.main-text {
  color: var(--main-text) !important;
}
.alt-bg {
  background-color: var(--alt-bg) !important;
}
.alt-text {
  color: var(--alt-text) !important;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
}

body a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

/* reset */
.page {
  margin-top: calc(71px + 30px);
}

input,
select {
  padding: 12px;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

form.auth-form button {
  width: 60%;
  height: 40px;
  font-weight: bold;
  margin-top: 30px;
  transition: 0.2s ease-in;
  cursor: pointer;
  color: white !important;
}

/* pagination */
.dark-mode .pagination .page-item .page-link{
  color: black !important;
}
.pagination .page-item .page-link{
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  background-color: #eee;
}

.pagination .page-item.active .page-link{
  background-color: var(--main-btn-bg) !important;
  color: white !important;
}


/* navbar */
.logo {
  color: var(--text-color) !important;
}
body.dark-mode .logo img {
  filter: invert(1);
}

.navbar .typing-text {
  overflow: hidden;
  font-size: 14px;
  animation: typing 10s steps(1000, end) 1s normal both infinite;
}

.ltr .typing-text {
  border-right: 2px solid var(--text-color);
}

.rtl .typing-text {
  border-left: 2px solid var(--text-color);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--main-bg) !important;
  box-shadow: 0 0px 2px var(--alt-text);
}

.navbar .btn {
  background-color: var(--alt-bg);
  color: var(--main-text);
}

.light-mode .navbar .btn:hover {
  color: white;
}

.navbar .navbar-toggler {
  background-color: var(--alt-bg);
  outline: none !important;
  box-shadow: none !important;
}

.navbar .navbar-toggler svg {
  font-size: 14px;
  color: var(--main-text) !important;
}

.navbar .user-avatar {
  color: var(--main-text);
  padding: 10px 13px;
  border: 1px solid;
  border-radius: 50%;
  margin-inline: 10px;
  display: block;
  background: var(--alt-bg);
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown button {
  color: var(--main-text) !important;
}
.dropdown button span {
  transform: 0.3s;
}
.dropdown button:hover span {
  color: white;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* home */
section.home .hero .btn {
  border-radius: 6px !important;
  position: relative;
}
section.home .hero .btn::after {
  position: absolute;
  content: "";
  background-color: var(--alt-bg);
  width: 100%;
  height: 10px;
  top: -5px;
  right: -9%;
  transform: skewY(6deg);
}

section.home .hero .btn::before {
  position: absolute;
  content: "";
  background-color: var(--alt-bg);
  width: 20px;
  height: 100%;
  top: -5px;
  right: -14%;
  transform: skewX(13deg);
}

/* (Auth) register login page */
.register-login .main {
  width: 100%;
  max-width: 500px;
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #0000005e;
}
.register-login #chk {
  display: none;
}
.register-login .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.register-login label {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.light-mode .login input {
  background: #eff1f3;
}

.register-login .login {
  height: 500px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.light-mode .register-login .login {
  background: white;
}

.register-login .login label {
  color: var(--main-text) !important;
  transform: scale(0.6);
}

.dark-mode .register-login .login label {
  color: black !important;
}

.register-login #chk:checked ~ .login {
  transform: translateY(-550px);
}
.register-login #chk:checked ~ .login label {
  transform: scale(1);
}
.register-login #chk:checked ~ .signup label {
  transform: scale(0.6);
}

/* forget password */
.auth-page main {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 20px 50px #0000005e;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}

/* dashboard layout */
.dashboard-layout span.arrow {
  display: none;
}

.dashboard-layout .sidebar {
  height: 87.9vh;
}

.sidebar .nav-link.active {
  border-right: 5px solid var(--main-text);
  border-top: 1px solid var(--main-text);
  border-bottom: 1px solid var(--main-text);
  border-left: 5px solid var(--main-text);
}

/* explore books page */
.explore-books input[type="search"]::placeholder,
.explore-books input[type="search"] {
  color: var(--main-text);
}

.explore-books .filters {
  transition: 0.5s;
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.explore-books .filters.active {
  border-bottom: 5px solid var(--main-bg);
  height: 250px;
}

.rtl .explore-books .filters .form-check {
  gap: 27px !important;
}

.explore-books .accordion-button:focus{
  box-shadow: none !important;
}


/* dialog */
.dark-mode .custom-dialog{
  color: var(--main-text) !important;
}

.dark-mode .custom-dialog .modal-dialog .modal-content{
  background-color: var(--alt-bg) !important;
}
.light-mode .custom-dialog .modal-dialog .modal-content input,
.light-mode .custom-dialog .modal-dialog .modal-content select
{
  background-color: #eee;
}

.dark-mode .custom-dialog .modal-dialog .modal-content input,
.dark-mode .custom-dialog .modal-dialog .modal-content select{
  background-color: var(--main-bg);
  color: white;
}
.dark-mode .custom-dialog .modal-dialog .modal-content input::placeholder{
  color: rgb(146, 146, 146);
}

.custom-dialog .modal-header{
  justify-content: space-between;
}

.custom-dialog .modal-header button{
  margin: 0 !important;
}



/* media query */
/* Extra Large Devices (Desktops, 1200px and above) */
@media (max-width: 1200px) {
}

/* Large Devices (Desktops, 992px and above) */
@media (max-width: 992px) {
  .dashboard-layout span.arrow {
    position: fixed;
    z-index: 10;
    display: block;
    padding-block: 5px;
    cursor: pointer;
    font-size: 20px;
    left: 0;
    transition: 0.3s;
    padding-inline: 10px;
  }
  .dashboard-layout span.arrow.show {
    left: 250px;
  }

  .dashboard-layout .sidebar {
    transition: 0.3s;
    width: 250px;
    left: -250px;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 20;
  }

  .dashboard-layout .sidebar.show {
    left: 0px;
  }
  .rtl .dashboard-layout span.arrow {
    right: 0px;
    left: unset;
  }
  .rtl .dashboard-layout span.arrow.show {
    right: 250px;
  }
  .rtl .dashboard-layout .sidebar {
    right: -250px;
    left: unset;
  }
  .rtl .dashboard-layout .sidebar.show {
    right: 0;
  }
  .dashboard-layout span.arrow svg {
    position: relative;
    animation: arrow-animation-left-right 1.5s linear infinite both;
  }
  @keyframes arrow-animation-left-right {
    0% {
      left: 5px;
    }
    30% {
      left: 0;
    }
    80% {
      left: 0;
    }
    100% {
      left: 5px;
    }
  }
}

/* Medium Devices (Tablets, 768px and above) */
@media (max-width: 768px) {
  .navbar .links {
    margin-top: 10px;
    flex-direction: column;
  }
  section.home h2 {
    text-align: center;
  }
}

/* Small Devices (Phones, 576px and above) */
@media (max-width: 576px) {
  .register-login .main label {
    font-size: 1.7em;
  }
}

/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 480px) {
}
